body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('image/log in  background image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    text-align: center;
    border: 2px solid transparent;
    width: 400px;
    height: 500px;
    border-radius: 30px;
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 20px 10px white;
    animation: glow 2s infinite ease-in-out;
}
@keyframes glow{
    0%{
        box-shadow: 0 0 20px 10px white;
    }
    50%{
        box-shadow: 0 0 40px 20px white;
    }
    100%{
        box-shadow: 0 0 20px 10px white;
    }

}

input {
    height: 40px;
    box-shadow: 10px 10px 10px;
    border-radius: 10px;
    margin: 10px 0;
    
    background: white;
}

h2 {
    color: black;
    font-weight:900;
}
.for a {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

label {
    color: black;
    font-weight: 700;
    font-size: small;
    padding: 50;
}
.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    margin: 10px 0;
}
input[type="checkbox"] {
    margin: 0;
    padding: 0;
    height: auto;
    box-shadow: none;
    border-radius: 0;
    transform: scale(1.5);
}
.ref {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}
.ref label {
    margin-left: 10px;
}
.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.for {
    text-align: right;
    margin-right: 10px;
}
.second{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: -50px;
}
.second a{
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
button {
    height: 40px;
    width: 300px;
    background-color: white;
    color: black;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    /* box-shadow: 10px 10px 10px rgb(10, 10, 10); */
    border-radius: 60px;
    border:1px solid black;
}
button:hover{
    background-color: black;
    color: aliceblue;
}
i{
    font-size: 16px;
}
.ref{
    margin-left: 40px;
}
.for{
    margin-right: 30px;
}
